{{#if assets.pageIndex.css}}
    <link href="{{assets.pageIndex.css}}" rel="stylesheet">
{{/if}}
<div class='card bg-transparent-dark text-light mb-4'>
    <div class='card-header d-flex justify-content-between align-items-center'>
        <h1 class="ms-3 me-3 display-3 mb-0">{{title}}</h1>
        <div class="d-flex justify-content-between align-items-end my-2">
            <div class="ms-auto">
                <a href='/' class='btn btn-primary' title='See the installation and configuration instructions'>
                    <i class='fas fa-code'></i> Configuration
                </a>
                <a href='/movies/missing' class='btn btn-success'
                   title='See the movies that are missing from PTP'>
                    <i class='fas fa-champagne-glasses'></i> Missing Movies
                </a>
                <a href='/movies/ignored' class='btn btn-warning'
                   title="See the movies that you've marked ignored">
                    <i class='fas fa-not-equal'></i> Ignored Movies
                </a>
                <a href='/movies/found' class='btn btn-danger'
                   title='See the movies that already exist on PTP'>
                    <i class='fas fa-ban'></i> Found Movies
                </a>
            </div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row mb-4'>
            <div class='col-md-6 mb-3 mb-md-0'>
                <a href='{{scriptUrl}}' class='btn btn-success btn-lg w-100 install-button'>
                    <i class='fas fa-puzzle-piece me-2'></i>Install ViolentMonkey Script
                </a>
                <button
                        class='btn btn-primary btn-lg w-100 copy-button my-5'
                        id="copyScriptButton"
                >
                    <i class='fas fa-copy me-2'></i>Copy ViolentMonkey Script
                </button>
            </div>
            <div class='col-md-6'>
                <div class='env-credentials p-3 rounded'>
                    <p class='mb-2'><strong>API_USER:</strong>
                        <span
                                class='obfuscated bg-danger credential-value'
                                data-content='{{apiUser}}'
                        >••••••••</span></p>
                    <p class='mb-2'><strong>API_KEY:</strong>
                        <span
                                class='obfuscated bg-danger credential-value'
                                data-content='{{apiKey}}'
                        >••••••••</span></p>
                    <p class='mb-2'><strong>PTPIMG_API_KEY:</strong>
                        <span
                                class='obfuscated bg-danger credential-value'
                                data-content='{{ptpImgApiKey}}'
                        >••••••••</span>
                    </p>
                    <button
                            class='btn btn-danger btn-sm mt-2'
                            id='toggleCredentials'
                    >Show
                    </button>
                </div>
            </div>
        </div>
        <div class='overflow-auto rounded'>
      <pre><code
              id='scriptContent'
              class='javascript p-3'
      >{{scriptContent}}</code></pre>
        </div>
    </div>
</div>
{{#if assets.pageIndex.js}}
    <script src="{{assets.pageIndex.js}}"></script>
{{/if}}
