<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>{{title}}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>â¤</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    {{#if assets.main.css}}
        <link href="{{assets.main.css}}" rel="stylesheet">
    {{/if}}
    {{#if assets.styles.css}}
        <link href="{{assets.styles.css}}" rel="stylesheet">
    {{/if}}
</head>
<body>
<div class='container-fluid my-4'>
    {{{body}}}
</div>
{{#if assets.main.js}}
    <script src="{{assets.main.js}}"></script>
{{/if}}
</body>
</html>
